SLFederalDisbursementApproval_1_8_0_0/Workflows/DeferUndefersub-batches-D1EE5388-D492-EB11-B1AC-000D3A09DF92.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sl_CDSCurrentEnvironment"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sl_CDSCurrentEnvironment"},"api":{"name":"shared_commondataserviceforapps"}},"shared_azuredatafactory":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"sl_ADF"},"api":{"name":"shared_azuredatafactory"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sl_CDSCurrentEnvironment"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"BatchId_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"DeferalReason_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"CalAction_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"CslAction_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["BatchId_Value","DeferalReason_Value","CalAction_Value","CslAction_Value"]}}}},"actions":{"BatchId":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"batchId","type":"string","value":"@{triggerBody()['BatchId_Value']}"}]}},"DeferalReason":{"runAfter":{"BatchId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"deferalReason","type":"string","value":"@{triggerBody()['DeferalReason_Value']}"}]}},"CalAction":{"runAfter":{"DeferalReason":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"calAction","type":"string","value":"@{triggerBody()['CalAction_Value']}"}]}},"CslAction":{"runAfter":{"CalAction":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"cslAction","type":"string","value":"@{triggerBody()['CslAction_Value']}"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Create_a_pipeline_run":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"batch":"@variables('batchId')","reason":"@variables('deferalReason')","cal_":"@variables('calAction')","csl":"@variables('cslAction')","reason_val":"@{variables('deferalReasonValue')}","cal_val":"@{variables('calActionValue')}","csl_val":"@{variables('cslActionValue')}"},"schema":{"type":"object","properties":{"batch":{"title":"batch","x-ms-dynamically-added":true,"type":"string"},"reason":{"title":"reason","x-ms-dynamically-added":true,"type":"string"},"cal_":{"title":"cal ","x-ms-dynamically-added":true,"type":"string"},"csl":{"title":"csl","x-ms-dynamically-added":true,"type":"string"},"reason_val":{"title":"reason val","x-ms-dynamically-added":true,"type":"string"},"cal_val":{"title":"cal val","x-ms-dynamically-added":true,"type":"string"},"csl_val":{"title":"csl val","x-ms-dynamically-added":true,"type":"string"}}}}},"DeferalReasonValue":{"runAfter":{"CslAction":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"deferalReasonValue","type":"integer"}]}},"set_Deferal_Reason_Value_Condition":{"actions":{"Condition_4":{"actions":{"set_deferal_reason_system":{"runAfter":{},"type":"SetVariable","inputs":{"name":"deferalReasonValue","value":102690000}}},"runAfter":{},"else":{"actions":{"Condition_2":{"actions":{"set_deferal_reason_administrative":{"runAfter":{},"type":"SetVariable","inputs":{"name":"deferalReasonValue","value":102690001}}},"runAfter":{},"expression":{"equals":["@variables('deferalReason')","Administrative Discretion"]},"type":"If"}}},"expression":{"equals":["@variables('deferalReason')","System Outage"]},"type":"If"},"Update_a_row_3":{"runAfter":{"Condition_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","item/sl_subbatchdeferalreason":"@variables('deferalReasonValue')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"expression":{"not":{"equals":["@variables('deferalReason')","null"]}},"type":"If"},"CalActionValue":{"runAfter":{"DeferalReasonValue":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"calActionValue","type":"integer"}]}},"CslActionValue":{"runAfter":{"CalActionValue":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"cslActionValue","type":"integer"}]}},"set_cal_action_value_Condition":{"actions":{"Condition_cal_action_defer":{"actions":{"Condition_7":{"actions":{"set_cal_action_defer":{"runAfter":{},"type":"SetVariable","inputs":{"name":"calActionValue","value":102690000}}},"runAfter":{},"else":{"actions":{"set_cal_action_0":{"runAfter":{},"type":"SetVariable","inputs":{"name":"calActionValue","value":0}}}},"expression":{"not":{"equals":["@outputs('Get_a_row_by_ID')?['body/sl_calsubbatchstatus']",102690000]}},"type":"If"}},"runAfter":{},"else":{"actions":{"Condition":{"actions":{"Condition_8":{"actions":{"set_cal_action_undefer":{"runAfter":{},"type":"SetVariable","inputs":{"name":"calActionValue","value":102690001}}},"runAfter":{},"else":{"actions":{"set_cal_action_zero":{"runAfter":{},"type":"SetVariable","inputs":{"name":"calActionValue","value":0}}}},"expression":{"not":{"equals":["@outputs('Get_a_row_by_ID')?['body/sl_calsubbatchstatus']",102690001]}},"type":"If"}},"runAfter":{},"expression":{"equals":["@variables('calAction')","Undefer"]},"type":"If"}}},"expression":{"equals":["@variables('calAction')","Defer"]},"type":"If"},"Update_a_row_4":{"runAfter":{"Condition_cal_action_defer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","item/sl_calsubbatchstatus":"@if(equals(variables('calActionValue'),0), outputs('Get_a_row_by_ID')?['body/sl_calsubbatchstatus'], variables('calActionValue'))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"set_Deferal_Reason_Value_Condition":["Succeeded"]},"expression":{"not":{"equals":["@variables('calAction')","null"]}},"type":"If"},"set_csl_action_value_Condition":{"actions":{"Condition_6":{"actions":{"Condition_5":{"actions":{"set_csl_action_defer":{"runAfter":{},"type":"SetVariable","inputs":{"name":"cslActionValue","value":102690000}}},"runAfter":{},"else":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"cslActionValue","value":0}}}},"expression":{"not":{"equals":["@outputs('Get_a_row_by_ID')?['body/sl_cslsubbatchstatus']",102690000]}},"type":"If"}},"runAfter":{},"else":{"actions":{"Condition_3":{"actions":{"Condition_9":{"actions":{"set_csl_action_undefer":{"runAfter":{},"type":"SetVariable","inputs":{"name":"cslActionValue","value":102690001}}},"runAfter":{},"else":{"actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"cslActionValue","value":0}}}},"expression":{"not":{"equals":["@outputs('Get_a_row_by_ID')?['body/sl_cslsubbatchstatus']",102690001]}},"type":"If"}},"runAfter":{},"expression":{"equals":["@variables('cslAction')","Undefer"]},"type":"If"}}},"expression":{"equals":["@variables('cslAction')","Defer"]},"type":"If"},"Update_a_row_5":{"runAfter":{"Condition_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","item/sl_cslsubbatchstatus":"@if(equals(variables('cslActionValue'),0), outputs('Get_a_row_by_ID')?['body/sl_cslsubbatchstatus'], variables('cslActionValue'))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"set_cal_action_value_Condition":["Succeeded"]},"expression":{"not":{"equals":["@variables('cslAction')","null"]}},"type":"If"},"batch_row":{"runAfter":{"set_csl_action_value_Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","$select":"sl_calsubbatchstatus, sl_cslsubbatchstatus, statuscode"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Batch_status_":{"actions":{"Update_FDA_Btach_Status_to_Deferred":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","item/sl_workflowstatus":102690004,"item/statuscode":102690001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_a_pipeline_run_2":{"runAfter":{"Update_FDA_Btach_Status_to_Deferred":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azuredatafactory","operationId":"CreatePipelineRun","apiId":"/providers/Microsoft.PowerApps/apis/shared_azuredatafactory"},"parameters":{"subscriptionId":"174bc656-84e5-4413-a417-0780f055d719","resourceGroupName":"AZR-C11-DV-122-02","dataFactoryName":"DataFactoryImportToCds","pipelineName":"PL_ExportDeferredPayments"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"batch_row":["Succeeded"]},"else":{"actions":{"Condition_Any_Subbatch_to_Undefer":{"actions":{"Update_a_row_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","item/statuscode":102690000},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"expression":{"or":[{"equals":["@outputs('batch_row')?['body/sl_calsubbatchstatus']",102690001]},{"equals":["@outputs('batch_row')?['body/sl_cslsubbatchstatus']",102690001]}]},"type":"If"},"Condition_Subbatch_statuses_null_or_undeferred_-_change_deferral_reason_to_null":{"actions":{"Update_FDA_Batch_SubBatch_Deferal_Reason_to_null":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","item/sl_subbatchdeferalreason":"@null"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Condition_only_one_sub-batch_and_it_gets_deferred":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@outputs('batch_row')?['body/sl_calsubbatchstatus']",102690000]}},{"not":{"equals":["@outputs('batch_row')?['body/sl_cslsubbatchstatus']",102690000]}}]},"type":"If"},"Condition_only_one_sub-batch_and_it_gets_deferred":{"actions":{"List_cal_rows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdapayments","$select":"sl_batchid, sl_fundingtype","$filter":"_sl_batchid_value eq '@{variables('batchId')}' and sl_fundingtype eq 102690002","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition_cal_sub-batch_is_empty":{"actions":{"If_CSL_sub-batch_needs_to_be_deferred":{"actions":{"Update_batch_to_deferred_and_end_wf_when_cal_sub-batch_empty":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","item/sl_workflowstatus":102690004,"item/statuscode":102690001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_a_pipeline_run_3":{"runAfter":{"Update_batch_to_deferred_and_end_wf_when_cal_sub-batch_empty":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azuredatafactory","operationId":"CreatePipelineRun","apiId":"/providers/Microsoft.PowerApps/apis/shared_azuredatafactory"},"parameters":{"subscriptionId":"174bc656-84e5-4413-a417-0780f055d719","resourceGroupName":"AZR-C11-DV-122-02","dataFactoryName":"DataFactoryImportToCds","pipelineName":"PL_ExportDeferredPayments"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"expression":{"equals":["@outputs('batch_row')?['body/sl_cslsubbatchstatus']",102690000]},"type":"If"}},"runAfter":{"List_cal_rows":["Succeeded"]},"else":{"actions":{"List_dl_rows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdapayments","$select":"sl_batchid, sl_fundingtype","$filter":"_sl_batchid_value eq '@{variables('batchId')}' and sl_fundingtype eq 102690000","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_csgp_rows":{"runAfter":{"List_dl_rows":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdapayments","$select":"sl_batchid, sl_fundingtype","$filter":"_sl_batchid_value eq '@{variables('batchId')}' and sl_fundingtype eq 102690001","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition_csl_sub-batch_empty":{"actions":{"Condition_if_cal_needs_to_be_deferred":{"actions":{"Update_batch_to_deferred_and_end_wf_when_csl_sub-batch_empty":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","item/sl_workflowstatus":102690004,"item/statuscode":102690001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_a_pipeline_run_4":{"runAfter":{"Update_batch_to_deferred_and_end_wf_when_csl_sub-batch_empty":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azuredatafactory","operationId":"CreatePipelineRun","apiId":"/providers/Microsoft.PowerApps/apis/shared_azuredatafactory"},"parameters":{"subscriptionId":"174bc656-84e5-4413-a417-0780f055d719","resourceGroupName":"AZR-C11-DV-122-02","dataFactoryName":"DataFactoryImportToCds","pipelineName":"PL_ExportDeferredPayments"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"expression":{"equals":["@outputs('batch_row')?['body/sl_calsubbatchstatus']",102690000]},"type":"If"}},"runAfter":{"List_csgp_rows":["Succeeded"]},"expression":{"and":[{"equals":["@empty(outputs('List_dl_rows')?['body']?['value'])",true]},{"equals":["@empty(outputs('List_csgp_rows')?['body']?['value'])",true]}]},"type":"If"}}},"expression":{"equals":["@empty(outputs('List_cal_rows')?['body']?['value'])",true]},"type":"If"}},"runAfter":{"Condition_Any_Subbatch_to_Undefer":["Succeeded"]},"expression":{"or":[{"equals":["@outputs('batch_row')?['body/sl_calsubbatchstatus']",102690000]},{"equals":["@outputs('batch_row')?['body/sl_cslsubbatchstatus']",102690000]}]},"type":"If"}}},"expression":{"and":[{"equals":["@outputs('batch_row')?['body/sl_calsubbatchstatus']",102690000]},{"equals":["@outputs('batch_row')?['body/sl_cslsubbatchstatus']",102690000]}]},"type":"If"},"Get_a_row_by_ID":{"runAfter":{"CslActionValue":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@variables('batchId')","$select":"sl_calsubbatchstatus, sl_cslsubbatchstatus"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_a_pipeline_run":{"runAfter":{"Update_Batch_status_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azuredatafactory","operationId":"CreatePipelineRun","apiId":"/providers/Microsoft.PowerApps/apis/shared_azuredatafactory"},"parameters":{"subscriptionId":"174bc656-84e5-4413-a417-0780f055d719","resourceGroupName":"AZR-C11-DV-122-02","dataFactoryName":"DataFactoryImportToCds","pipelineName":"PL_DeferFDAPayments","parameters":{"batchID":"@variables('batchId')","calAction":"@variables('calActionValue')","cslAction":"@variables('cslActionValue')"}},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}