SLFederalDisbursementApproval_1_8_0_0/Workflows/DisbursementApprovalBatch-GetBatchAggregateByFundi-CFE2CCDC-2329-EB11-A813-000D3AF4B43C.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"sl_CDSGeneral"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"BatchId_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"FundingType_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["BatchId_Value","FundingType_Value"]}}}},"actions":{"BatchId":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"batchId","type":"string","value":"@triggerBody()['BatchId_Value']"}]}},"FundingType":{"runAfter":{"BatchId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fundingType","type":"string","value":"@{triggerBody()['FundingType_Value']}"}]}},"Parse_JSON":{"runAfter":{"Condition":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@variables('apiResponse')","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"statuscode":{"type":"integer"},"_statuscode_label":{"type":"string"},"sl_paymenttype":{"type":"integer"},"_sl_paymenttype_label":{"type":"string"},"sl_amountofpayment":{"type":"number"},"_sl_batchid_value":{"type":"string"}},"required":["@@odata.id","@@odata.etag","ItemInternalId","statuscode","sl_paymenttype","_sl_paymenttype_label","sl_amountofpayment","_sl_batchid_value"]}}}},"Response":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@body('Parse_JSON')","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"statuscode":{"type":"integer"},"_statuscode_label":{"type":"string"},"sl_paymenttype":{"type":"integer"},"_sl_paymenttype_label":{"type":"string"},"sl_amountofpayment":{"type":"integer"},"_sl_batchid_value":{"type":"string"}},"required":["@@odata.id","@@odata.etag","ItemInternalId","statuscode","_statuscode_label","sl_paymenttype","_sl_paymenttype_label","sl_amountofpayment","_sl_batchid_value"]}}}},"Condition":{"actions":{"List_records_-_Get_aggregation_for_all_FundingTypes":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"sl_fdapayments","$apply":"groupby(\n(sl_paymenttype,statuscode),\naggregate(sl_amountofpayment with sum as sl_amountofpayment, $count as _sl_batchid_value\n)\n)","$filter":"_sl_batchid_value eq @{variables('batchId')} and  sl_paymenttype ne 102690002"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_for_all_FundingType":{"runAfter":{"List_records_-_Get_aggregation_for_all_FundingTypes":["Succeeded"]},"type":"SetVariable","inputs":{"name":"apiResponse","value":"@{outputs('List_records_-_Get_aggregation_for_all_FundingTypes')?['body/value']}"}}},"runAfter":{"apiResponse":["Succeeded"]},"else":{"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"sl_fdapayments","$apply":"groupby(\n(sl_paymenttype,statuscode),\naggregate(sl_amountofpayment with sum as sl_amountofpayment, $count as _sl_batchid_value\n)\n)","$filter":"_sl_batchid_value eq @{variables('batchId')} and  sl_fundingtype eq @{int(variables('fundingType'))} and  sl_paymenttype ne 102690002"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_for_specific_FundingType":{"runAfter":{"List_records":["Succeeded"]},"type":"SetVariable","inputs":{"name":"apiResponse","value":"@{outputs('List_records')?['body/value']}"}}}},"expression":{"equals":["@variables('fundingType')","1"]},"type":"If"},"apiResponse":{"runAfter":{"FundingType":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"apiResponse","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}