SLFederalDisbursementApproval_1_8_0_0/Workflows/DisbursementApprovalBatch-TriggerADFPipelineaftert-98B4979F-8B97-EB11-B1AC-000D3AF41C0B.json
{"properties":{"connectionReferences":{"shared_azuredatafactory":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sl_ADF"},"api":{"name":"shared_azuredatafactory"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sl_CDSCurrentEnvironment"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_SPS_Files_are_processed":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"sl_fdabatch","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"sl_workflowstatus","subscriptionRequest/filterexpression":"sl_workflowstatus eq 102690003"},"authentication":"@parameters('$authentication')"}}},"actions":{"Run_SPS_Files_Export_Pipeline":{"runAfter":{"Delay_until":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azuredatafactory","operationId":"CreatePipelineRun","apiId":"/providers/Microsoft.PowerApps/apis/shared_azuredatafactory"},"parameters":{"subscriptionId":"174bc656-84e5-4413-a417-0780f055d719","resourceGroupName":"AZR-C11-DV-122-02","dataFactoryName":"DataFactoryImportToCds","pipelineName":"PL_SPSResponseFileExport","parameters":{"BatchID":"@variables('BatchID')"}},"authentication":"@parameters('$authentication')"}},"Convert_time_zone":{"runAfter":{"Get_Batch_ID":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{utcNow()}","formatString":"u","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"Eastern Standard Time"}},"Get_Batch_ID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"BatchID","type":"string","value":"@triggerOutputs()?['body/sl_fdabatchid']"}]}},"Delay_until":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"Wait","inputs":{"until":{"timestamp":"@{addHours(startOfDay(body('Convert_time_zone')),23)}"}}},"Run_SPSKey_Pipeline":{"runAfter":{"Run_SPS_Files_Export_Pipeline":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azuredatafactory","operationId":"CreatePipelineRun","apiId":"/providers/Microsoft.PowerApps/apis/shared_azuredatafactory"},"parameters":{"subscriptionId":"174bc656-84e5-4413-a417-0780f055d719","resourceGroupName":"AZR-C11-DV-122-02","dataFactoryName":"DataFactoryImportToCds","pipelineName":"PL_PopulatePaymentSPSKey","parameters":{"BatchID":"@variables('BatchID')"}},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}