SLFederalDisbursementApproval_1_8_0_0/Workflows/DisbursementApprovalBatch-SPSFilesProcessingbasedo-56F0FF9B-E495-EB11-B1AC-000D3AF41C0B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sl_CDSCurrentEnvironment"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sl_CDSCurrentEnvironment"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"sl_fdabatch","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"sl_faa33approval","subscriptionRequest/filterexpression":"sl_faa33approval eq 102690000","subscriptionRequest/name":"56f0ff9b-e495-eb11-b1ac-000d3af41c0b"},"authentication":"@parameters('$authentication')"}}},"actions":{"Do_until_Batch_Workflow_is_\"SPS_Files_Processed\"":{"actions":{"Get_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@triggerOutputs()?['body/sl_fdabatchid']"},"authentication":"@parameters('$authentication')"}},"Are_all_the_files_processed":{"actions":{"Update_WorkflowStatus":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@triggerOutputs()?['body/sl_fdabatchid']","item/sl_workflowstatus":102690003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_row":["Succeeded"]},"else":{"actions":{"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Minute"}}}}},"expression":{"and":[{"or":[{"equals":["@outputs('Get_row')?['body/sl_dlresponsefilestatus']",102690001]},{"equals":["@outputs('Get_row')?['body/sl_cslsubbatchstatus']",102690000]},{"equals":["@outputs('Get_row')?['body/sl_dlrequisitionnumber']","@null"]}]},{"or":[{"equals":["@outputs('Get_row')?['body/sl_csgpresponsefilestatus']",102690001]},{"equals":["@outputs('Get_row')?['body/sl_cslsubbatchstatus']",102690000]},{"equals":["@outputs('Get_row')?['body/sl_csgprequisitionnumber']","@null"]}]},{"or":[{"equals":["@outputs('Get_row')?['body/sl_calresponsefilestatus']",102690001]},{"equals":["@outputs('Get_row')?['body/sl_calsubbatchstatus']",102690000]},{"equals":["@outputs('Get_row')?['body/sl_calrequisitionnumber']","@null"]}]}]},"type":"If"}},"runAfter":{},"expression":"@equals(outputs('Update_WorkflowStatus')?['body/sl_workflowstatus'], 102690003)","limit":{"timeout":"PT1H30M"},"type":"Until"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}