SLFederalDisbursementApproval_1_8_0_0/Workflows/GeneratePaymentRequisitionNumber-3734F9A0-DA1E-EB11-A813-000D3AF4B43C.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sl_CDSCurrentEnvironment"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sl_CDSGeneral"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Update_Preliminary_Approval_Stage":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"sl_fdabatch","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"sl_preapprovaldone","subscriptionRequest/filterexpression":"sl_preapprovaldone eq 102690000 "},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable_PayReqNo_max":{"runAfter":{"Initialize_variable_-_All_PayReqNumbers":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"PayReqNo","type":"integer","value":0}]}},"Initialize_variable_Funding_Types":{"runAfter":{"Initialize_variable_PayReqNo_max":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FundingTypes","type":"array"}]}},"Condition_if_contains_DL":{"actions":{"Update_record_with_DL_number":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@triggerOutputs()?['body/sl_fdabatchid']","item/sl_dlrequisitionnumber":"@concat('0', add(variables('PayReqNo'),1))"},"authentication":"@parameters('$authentication')"}},"Set_variable_-_with_the_new_value_adding_1":{"runAfter":{"Update_record_with_DL_number":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PayReqNo","value":"@int(outputs('Update_record_with_DL_number')?['body/sl_dlrequisitionnumber'])"}}},"runAfter":{"Scope_-_Check_PMT_records_in_the_Batch_and_which_FundingTypes_they_have":["Succeeded"]},"expression":{"equals":["@outputs('Compose_-_Check_if_there_is_DL')",true]},"type":"If"},"Condition_if_contains_CSGP":{"actions":{"Update_record_with_Grant_number":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@triggerOutputs()?['body/sl_fdabatchid']","item/sl_csgprequisitionnumber":"@concat('0', add(variables('PayReqNo'), 1))"},"authentication":"@parameters('$authentication')"}},"Set_variable_-_with_the_new_value_adding":{"runAfter":{"Update_record_with_Grant_number":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PayReqNo","value":"@int(outputs('Update_record_with_Grant_number')?['body/sl_csgprequisitionnumber'])"}}},"runAfter":{"Condition_if_contains_DL":["Succeeded"]},"expression":{"equals":["@outputs('Compose_-_Check_if_there_is_CSGP')",true]},"type":"If"},"Condition_if_contains_CAL":{"actions":{"Update_record_with_CAL_number":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","recordId":"@triggerOutputs()?['body/sl_fdabatchid']","item/sl_calrequisitionnumber":"@concat('0', add(variables('PayReqNo'), 1))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_if_contains_CSGP":["Succeeded"]},"expression":{"equals":["@outputs('Compose_-_Check_if_there_is_CAL')",true]},"type":"If"},"Initialize_variable_-_All_PayReqNumbers":{"runAfter":{"Initialize_variable_-_IndexVariable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AllPayReqNumbers","type":"array"}]}},"Initialize_variable_-_IndexVariable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"IndexVariable","type":"integer","value":0}]}},"Scope_-_Check_PMT_records_in_the_Batch_and_which_FundingTypes_they_have":{"actions":{"List_records_-_Retrieve_PMT_by_fundingtype":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"sl_fdapayments","$apply":"groupby((sl_fundingtype))","$filter":"_sl_batchid_value eq '@{triggerOutputs()?['body/sl_fdabatchid']}'"},"authentication":"@parameters('$authentication')"}},"Select_FundingTypes_only":{"runAfter":{"List_records_-_Retrieve_PMT_by_fundingtype":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('List_records_-_Retrieve_PMT_by_fundingtype')?['body/value']","select":{"FundingTypeValue":"@item()?['sl_fundingtype']"}}},"Compose_-_Check_if_there_is_DL":{"runAfter":{"Select_FundingTypes_only":["Succeeded"]},"type":"Compose","inputs":"@contains(string(body('Select_FundingTypes_only')), '102690000')"},"Compose_-_Check_if_there_is_CSGP":{"runAfter":{"Compose_-_Check_if_there_is_DL":["Succeeded"]},"type":"Compose","inputs":"@contains(string(body('Select_FundingTypes_only')), '102690001')"},"Compose_-_Check_if_there_is_CAL":{"runAfter":{"Compose_-_Check_if_there_is_CSGP":["Succeeded"]},"type":"Compose","inputs":"@contains(string(body('Select_FundingTypes_only')), '102690002')"}},"runAfter":{"Condition":["Succeeded"]},"type":"Scope"},"Scope_-_Retrieve_the_last_PayReqNumber_and_store_in_the_PayReqNo_variable":{"actions":{"List_Top_10_Batches":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sl_fdabatchs","$select":"sl_dlrequisitionnumber, sl_calrequisitionnumber, sl_csgprequisitionnumber, createdon","$orderby":"createdon desc","$top":30},"authentication":"@parameters('$authentication')"}},"Select_only_ReqNumber_fields_Top_10":{"runAfter":{"List_Top_10_Batches":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('List_Top_10_Batches')?['body/value']","select":{"DLReqNumber":"@item()?['sl_dlrequisitionnumber']","CSGPReqNumber":"@item()?['sl_csgprequisitionnumber']","CALReqNumber":"@item()?['sl_calrequisitionnumber']"}}},"Apply_to_each_record_in_the_Select":{"foreach":"@body('Select_only_ReqNumber_fields_Top_10')","actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@body('Select_only_ReqNumber_fields_Top_10')?[variables('IndexVariable')]['DLReqNumber']"},"Increment_Index_variable":{"runAfter":{"Condition_-_Check_if_CAL_Number_is_null_3":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"IndexVariable","value":1}},"Condition_-_Check_if_DL_Number_is_null":{"actions":{},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_4":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"AllPayReqNumbers","value":"@int(body('Select_only_ReqNumber_fields_Top_10')?[variables('IndexVariable')]['DLReqNumber'])"}}}},"expression":{"equals":["@empty(body('Select_only_ReqNumber_fields_Top_10')?[variables('IndexVariable')]['DLReqNumber'])",true]},"type":"If"},"Condition_-_Check_if_CSGP_Number_is_null":{"actions":{},"runAfter":{"Compose_4":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_5":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"AllPayReqNumbers","value":"@int(body('Select_only_ReqNumber_fields_Top_10')?[variables('IndexVariable')]['CSGPReqNumber'])"}}}},"expression":{"equals":["@empty(body('Select_only_ReqNumber_fields_Top_10')?[variables('IndexVariable')]['CSGPReqNumber'])",true]},"type":"If"},"Condition_-_Check_if_CAL_Number_is_null_3":{"actions":{},"runAfter":{"Condition_-_Check_if_CSGP_Number_is_null":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_6":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"AllPayReqNumbers","value":"@int(body('Select_only_ReqNumber_fields_Top_10')?[variables('IndexVariable')]['CALReqNumber'])"}}}},"expression":{"equals":["@empty(body('Select_only_ReqNumber_fields_Top_10')?[variables('IndexVariable')]['CALReqNumber'])",true]},"type":"If"},"Compose_4":{"runAfter":{"Condition_-_Check_if_DL_Number_is_null":["Succeeded"]},"type":"Compose","inputs":"@body('Select_only_ReqNumber_fields_Top_10')?[variables('IndexVariable')]['CSGPReqNumber']"}},"runAfter":{"Select_only_ReqNumber_fields_Top_10":["Succeeded"]},"type":"Foreach"},"Condition_if_all_pay_Req_are_null":{"actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"AllPayReqNumbers","value":11222222222222}}},"runAfter":{"Apply_to_each_record_in_the_Select":["Succeeded"]},"expression":{"equals":["@empty(variables('AllPayReqNumbers'))",true]},"type":"If"},"Set_PayReqNo_variable_with_the_MAX_value":{"runAfter":{"Condition_if_all_pay_Req_are_null":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PayReqNo","value":"@max(variables('AllPayReqNumbers'))"}}},"runAfter":{"Initialize_variable_FiscalYear":["Succeeded"]},"type":"Scope"},"Compose-_Get_year_from_PayReqNo":{"runAfter":{"Scope_-_Retrieve_the_last_PayReqNumber_and_store_in_the_PayReqNo_variable":["Succeeded"]},"type":"Compose","inputs":"@substring(string(variables('PayReqNo')),6,2)"},"Compose__-_Get_Month_from_PayReqNo":{"runAfter":{"Set_variable_FiscalYear":["Succeeded"]},"type":"Compose","inputs":"@substring(string(variables('PayReqNo')),8,2)"},"Condition":{"actions":{},"runAfter":{"Switch_-_Subtract_3_on_Month_number":["Succeeded"]},"else":{"actions":{"Compose_-_Get_Month_based_on_CreatedOn":{"runAfter":{},"type":"Compose","inputs":"@formatDateTime(triggerOutputs()?['body/createdon'],'MM')"},"Compose_-_Get_Year_based_on_CreatedOn":{"runAfter":{"Compose_-_Get_Month_based_on_CreatedOn":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(triggerOutputs()?['body/createdon'],'yy')"},"Compose_-_Build_the_PayReq_with_0000":{"runAfter":{"Compose_-_Get_Year_based_on_CreatedOn":["Succeeded"]},"type":"Compose","inputs":"@concat(\r\n'0147462',\r\nvariables('FiscalYear'),\r\nvariables('FiscalMonthMinus3'),\r\n'0000'\r\n)"},"Set_variable_-_Reset_PayReqNo_for_new_month":{"runAfter":{"Compose_-_Build_the_PayReq_with_0000":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PayReqNo","value":"@int(\r\nconcat(\r\n'0147462',\r\nvariables('FiscalYear'),\r\nvariables('FiscalMonthMinus3'),\r\n'0000'\r\n)\r\n)"}}}},"expression":{"equals":["@outputs('Compose__-_Get_Month_from_PayReqNo')","@variables('FiscalMonthMinus3')"]},"type":"If"},"Initialize_variable_FiscalMonthMinus3":{"runAfter":{"Initialize_variable_Funding_Types":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FiscalMonthMinus3","type":"string"}]}},"Switch_-_Subtract_3_on_Month_number":{"runAfter":{"Compose_2":["Succeeded"]},"cases":{"Case":{"case":0,"actions":{"Set_variable_to_12":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FiscalMonthMinus3","value":"12"}},"Decrement_Fiscal_Year_variable":{"runAfter":{"Set_variable_to_12":["Succeeded"]},"type":"DecrementVariable","inputs":{"name":"FiscalYear","value":1}}}},"Case_2":{"case":-1,"actions":{"Set_variable_to_11":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FiscalMonthMinus3","value":"11"}},"Decrement_Fiscal_Year_variable_2":{"runAfter":{"Set_variable_to_11":["Succeeded"]},"type":"DecrementVariable","inputs":{"name":"FiscalYear","value":1}}}},"Case_3":{"case":-2,"actions":{"Set_variable_to_10":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FiscalMonthMinus3","value":"10"}},"Decrement_Fiscal_Year_variable_3":{"runAfter":{"Set_variable_to_10":["Succeeded"]},"type":"DecrementVariable","inputs":{"name":"FiscalYear","value":1}}}}},"default":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FiscalMonthMinus3","value":"@{concat('0',sub(int(formatDateTime(triggerOutputs()?['body/createdon'],'MM')),3))}"}}}},"expression":"@sub(int(formatDateTime(triggerOutputs()?['body/createdon'],'MM')),3)","type":"Switch"},"Initialize_variable_FiscalYear":{"runAfter":{"Initialize_variable_FiscalMonthMinus3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FiscalYear","type":"integer"}]}},"Set_variable_FiscalYear":{"runAfter":{"Compose-_Get_year_from_PayReqNo":["Succeeded"]},"type":"SetVariable","inputs":{"name":"FiscalYear","value":"@int(formatDateTime(triggerOutputs()?['body/createdon'],'yy'))"}},"Compose_2":{"runAfter":{"Compose__-_Get_Month_from_PayReqNo":["Succeeded"]},"type":"Compose","inputs":"@sub(int(formatDateTime(triggerOutputs()?['body/createdon'],'MM')),3)"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}